---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ site.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.name }}</h1>
                    {% if page.position %}
                    <h2 class="subheading">{{ page.position }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
									{% if page.header-img %}
									  {% if page.active == false %}
											<div class="circle" style="background-image: url('{{ site.url }}/{{ page.header-img | replace: "img/officers", "img/officers/past" }}')"></div>
										{% else %}
											<div class="circle" style="background-image: url('{{ site.url }}/{{ page.header-img }}')"></div>
										{% endif %}
									{% else %}
										<div class="circle" style="background-image: url('{{ site.url }}/img/officers/blank.jpg')"></div>
								  {% endif %}
                {% if page.hometown %}
                    <div><b class="subheading">Hometown</b>: {{ page.hometown }}</div>
                {% endif %}
                {% if page.alma_mater %}
                    <div><b class="subheading">Alma Mater</b>: {{ page.alma_mater }}</div>
                {% endif %}
                {% if page.department %}
                    <div><b class="subheading">Department</b>: {{ page.department }}</div>
                {% endif %}
                {% if page.advisor %}
                    <div><b class="subheading">Advisor</b>: {{ page.advisor }}</div>
                {% endif %}
                {% if page.email %}
                    <div><b class="subheading">Email</b>: {{ page.email }}</div>
                {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
</article>

<hr>
